
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Ubuntu:wght@300&display=swap");


#content {
  margin: 0 auto;
  background-color: #d6efff;
}

body {
  background-color: hsl(210, 100%, 65%);
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  background-color: rgb(118, 223, 249);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: right;
}

header img {
  align-items: left;
  max-width: 300px;
  max-height: 300px;
}

main {

}

footer {
  margin: 1rem auto;
  border: 1px solid rgb(72, 253, 247);
  padding: 0.5rem;
  background-color: rgb(118, 223, 249);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
