
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Ubuntu:wght@300&display=swap");


#content {
  max-width: 1160px;
  margin: 0 auto;
  background-color: #d6efff;
  border-radius: 15px;
}


body {
  background-color: hsl(210, 100%, 65%);
  font-size: 26px;
}

header,
main,
footer {
  max-width: 700px;
  margin: 0 auto;
}

header {
  font-family: "Mochy Pop P One";
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid rgb(0, 55, 255);
  background-color: rgb(118, 223, 249);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: left;
  border-radius: 15px;
}

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.myname {
  grid-column: 1/ 2;
  grid-row: 1/ 3;

}

.profile{
  grid-column: 4 / 6;
  grid-row: 3/ 5;
  margin: 25px 25px 10px 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
  width: 80%;
  height: 400px;
  box-shadow: 5px 5px 5px rgb(0, 55, 255);;
}

main {
  font-family: "Ubuntu";
}

footer {
  margin: 1rem auto;
  border: 1px solid rgb(0, 55, 255);
  padding: 0.5rem;
  background-color: rgb(118, 223, 249);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  border-radius: 15px;
}
