
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Ubuntu:wght@300&display=swap");


#content {
  max-width: 1160px;
  margin: 0 auto;
  background-color: #d6efff;
}


body {
  background-color: hsl(210, 100%, 65%);
  font-size: 26px;
}

header,
main,
footer {
  max-width: 700px;
  margin: 0 auto;
}

header {
  font-family: "Mochy Pop P One";
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid rgb(0, 55, 255);
  background-color: rgb(118, 223, 249);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: left;
}

header img {
  align-items: right;
  max-width: 400px;
  max-height: 400px;
}

main {
  font-family: "Ubuntu";
}

footer {
  margin: 1rem auto;
  border: 1px solid rgb(0, 55, 255);
  padding: 0.5rem;
  background-color: rgb(118, 223, 249);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
